.submission-box {
    display: flex;
    flex-direction: column;
    flex-direction: wrap;
   
}

.submission-box h2 {
    text-align: center; /* Center the heading */
}

form {
    margin-top: 20px;
}

label {
    display: block; /* Display labels in a block */
    margin-bottom: 5px;
}
